body , img{
    margin:0;
    padding:0;
    box-sizing: border-box;
    user-select: none;
    display:block;
}

.Github{
    position: absolute;
    top: 10px;
    left: 10px;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.text {
    position: absolute;
    width: 450px;
    left: 230px;
    margin-left: -225px;
    height: 40px;
    top: 7%;
    margin-top: 20px;
}

p {
    display: inline-block;
    vertical-align: top;
    margin: 0;
}

.word {
    position: absolute;
    width: 300px;
    opacity: 0;
}

.letter {
    display: inline-block;
    position: relative;
    float: left;
    transform: translateZ(25px);
    transform-origin: 50% 50% 25px;
}

.letter.out {
    transform: rotateX(90deg);
    transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
    transform: rotateX(-90deg);
}

.letter.in {
    transform: rotateX(0deg);
    transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.wisteria {
    color: #000000;
}

.belize {
    color: #000000;
}

.pomegranate {
    color: #000000;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

#digital-clock {
    right: 2px;
    top: 70px;
    height: 10px;
    position: absolute;
    width: 150px;
    font-size: 20px;
    text-align: center;
    background: rgba(0, 0, 0, 0);
    color: #000000;
}

body::-webkit-scrollbar{
    height: 80px;
    overflow-y: scroll;
    width: 10px;
    background-image: url('https://i.postimg.cc/52cpBxVg/fondo.gif');
}

body::-webkit-scrollbar-thumb{
    background: #000000;
    border-radius: 20px;
}

#portafolio{
    left: 2px;
    top: 30%;
    height: 10px;
    position: absolute;
    width: 150px;
    font-size: xxx-large;
    font-family:  sans-serif;
}

.hr1 {
    height: 4px;
    width: 35%;
    background-color: #000000;
    position: absolute;
    margin-top: -74%;
    border-radius: 20px;
}

#presentacion{
    left: 2px;
    top: 52%;
    height: 10px;
    position: absolute;
    width: 800px;
    font-size: x-large;
    font-family:  sans-serif;
}


.rectangle{
    text-align:center;
    display: table-cell;
    width:300px;
    height:400px;
    backdrop-filter: blur(2px);
    backdrop-filter: brightness(60%);
    backdrop-filter: contrast(40%);
    backdrop-filter: drop-shadow(4px 4px 10px blue);
    backdrop-filter: grayscale(30%);
    backdrop-filter: hue-rotate(120deg);
    backdrop-filter: invert(70%);
    backdrop-filter: opacity(20%);
    backdrop-filter: sepia(90%);
    backdrop-filter: saturate(80%);
    position: absolute;
    top: 90%;
    left: 8%;
    border: #1a1e21 2px solid;
    border-radius: 10px;
    transition: transform .2s;
}

.centre1{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.rectangle:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
}


.rectangle2 {
    text-align: center;
    display: table-cell;
    width:300px;
    height:400px;
    backdrop-filter: blur(2px);
    backdrop-filter: brightness(60%);
    backdrop-filter: contrast(40%);
    backdrop-filter: drop-shadow(4px 4px 10px blue);
    backdrop-filter: grayscale(30%);
    backdrop-filter: hue-rotate(120deg);
    backdrop-filter: invert(70%);
    backdrop-filter: opacity(20%);
    backdrop-filter: sepia(90%);
    backdrop-filter: saturate(80%);
    position: absolute;
    top: 90%;
    left: 39%;
    border: #1a1e21 2px solid;
    border-radius: 10px;
    transition: transform .2s;
}

.centre2{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.rectangle2:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
}


.rectangle3{
    text-align:center;
    width:300px;
    height:400px;
    backdrop-filter: blur(2px);
    backdrop-filter: brightness(60%);
    backdrop-filter: contrast(40%);
    backdrop-filter: drop-shadow(4px 4px 10px blue);
    backdrop-filter: grayscale(30%);
    backdrop-filter: hue-rotate(120deg);
    backdrop-filter: invert(70%);
    backdrop-filter: opacity(20%);
    backdrop-filter: sepia(90%);
    backdrop-filter: saturate(80%);
    position: absolute;
    top: 90%;
    left: 70%;
    border: #1a1e21 2px solid;
    border-radius: 10px;
    transition: transform .2s;
}

.centre3{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.rectangle3:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
}


.hr2 {
    height: 4px;
    width: 100%;
    background-color: #000000;
    position: absolute;
    margin-top: -6%;
    border-radius: 20px;
}

.Github2{
    margin-top: -4%;
    position: absolute;
    margin-left: 95%;
}

.Instagram{
    margin-top: -4%;
    position: absolute;
    margin-left: 91.3%;
}

.LogoColegio{
    margin-top: -4%;
    position: absolute;
    margin-left: 87.5%;
}

.email{
    margin-top: -6%;
    position: absolute;
}


